fastmcp>=2.13.0.1
langchain
langgraph
langgraph-cli[inmem]
langchain_mcp_adapters
langchain_anthropic
langchain_openai
langchain_community
langchain_core
deepagents
nest_asyncio
autoflake
isort
black
